@page "/fetchdata"
@using PruebaTecnica.Data
@using PruebaTecnica.Models
@inject UsuariosServices ForecastService
<PageTitle>Weather forecast</PageTitle>

<h3>Lista de Usuarios</h3>

@if (usuarios == null)
{
    <p>Cargando...</p>
}
else if (!usuarios.Any())
{
    <p>No hay usuarios registrados.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Usuario ID</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Fecha Registro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>@usuario.UsuarioID</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.FechaRegistro.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Usuarios>? usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await ForecastService.GetUsuariosAsync();
    }
}